<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">            
    @*<meta http-equiv="X-UA-Compatible" content="IE=edge">*@
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Andly安德利 - 自动化与智能化产品及解决方案供应商</title>

    <meta name="description" content="Kinco步科服务热线400-700-5281,步科以帮助更多的人产生创意,将创意变成产品为愿景,以自动化与智能化的产品和解决方案,帮助更多客户造就成功的小而美的智慧工厂,是帮助客户的创新经营取得成功的伙伴.">
    <meta name="keywords" content="步科,eView,Kinco,步科官网,人机界面,伺服系统,伺服驱动器,伺服电机,变频器,PLC,可编程控制器,步进驱动器,步进电机,智慧工厂,物流自动化,印刷包装,医药行业,3C,新能源,汽车,自动化解决方案,智能化解决方案,触摸屏,步科触摸屏,HMI,步科组态软件,自动化产品">
    <!-- Bootstrap -->
    <link href="/Content/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="/Content/font-awesome.css">
    <!--[if IE 7]>
    <link rel="stylesheet" href="/css/font-awesome-ie7.min.css">
    <![endif]-->
    <link href="/Content/main_new.css" rel="stylesheet">
    <link rel="icon" href="/images/icon_k.png">
    <style type="text/css">
        <!--
        .beian001 {
            color: #8a8a8a;
        }

            .beian001 A:link {
                COLOR: #8a8a8a;
                TEXT-DECORATION: none;
            }

            .beian001 A:visited {
                COLOR: #8a8a8a;
                TEXT-DECORATION: none;
            }

            .beian001 A:hover {
                COLOR: #FFFF00;
                TEXT-DECORATION: none;
            }

            .beian001 A:active {
                COLOR: #8a8a8a;
                TEXT-DECORATION: none;
            }
        -->
    </style>
    @*<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "../hm.baidu.com/hm_14C3594A.js";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>*@

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.min.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <!--header bein-->
    <div class="container">
        <div class="row">
            <div class="col-md-12">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-2 col-sm-3" style="height:56px;"><a href="/"><img src="/images/logo_andly.png" alt="安德利Logo" style="top:-20px;width:164px;height:76px;position:relative;" /></a></div>
            <div class="col-md-3 col-sm-3" style="padding-top:5px;">
                <img src="/images/language_icon.png" alt="语言" />
                <a class="bordernone" tabindex="0" id="languagelink" role="button" data-toggle="popover" data-trigger="click"
                   data-placement="right" data-html="true"
                   data-content='
                    <a class="colorgray2" href="http://en.andly.com">English</a><br /><a class="colorgray2" href="http://www.andly.com">中文</a>'><span class="colorgray">Language</span> | <span class="colorred">中文</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 text-right">
                @*<a class="btn btn-xs btn-info" href="../web.kinco.cn">返回旧站</a>*@
            </div>
            <div class="col-md-4 col-sm-6">
                <form action="/home/search" method="POST" class="form-horizontal">
                    <div class="input-group">
                        <input type="text" name="key" class="form-control" placeholder="搜索你需要的产品或资料">
                        <span class="input-group-btn">
                            <button class="btn searchbuttn" type="submit">
                                <i class="icon-search icon-large colorwhite"></i>
                            </button>
                        </span>
                    </div>
                    <input type="hidden" name="_token" value="j5HQ0xaDsOhrVcsxTfBXy6JMN7H1uEksZZyxeZse">
                </form>
                <!-- /input-group -->
            </div>
        </div>
        @*<div class="row">
            <div class="col-md-12">&nbsp;</div>
        </div>*@
    </div>
    <div class="container-fluid">
        <div class="row">
            <nav id="navMenu" class="navbar navbar-default navbar-static-top" style="margin-bottom:0px;">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarmenu">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling data-toggle="dropdown"-->
                    <div class="collapse navbar-collapse" id="navbarmenu">
                        <ul class="nav navbar-nav" style="width:100%;">
                            <li class="dropdown col-sm-home-1 col-md-home-1 col-lg-home-1 background-navHead text-center menu-product" data-model="vmMenu"
                                <a class="dropdown-toggle background-red cursor-pointer"  role="button" aria-expanded="false" href="#"><span class="nav-text">产品中心</span></a>
                                <ul class="dropdown-menu popover bottom" role="menu" style="width:100%;" data-bind="foreach:menuLst">
                                    @*<li class="arrow"></li>*@
                                    <li class="nav-menu-hmi" onclick="window.location.href='/product/hmi'">
                                        <span><a class="nav-menu-sub-title" data-bind="text:type_name,attr:{href:'~/home/ProductList/'+ type_id }"></a></span><br />
                                        <span>  
                                            <a class="nav-menu-sub-detail" href="productById_079E9298">MT4230T</a>&nbsp;&nbsp;
                                            <a class="nav-menu-sub-detail" href="productById_0E561AA6">MT4434T</a>&nbsp;&nbsp;
                                            <a class="nav-menu-sub-detail" href="productById_1407F555">MT4532T</a>&nbsp;&nbsp;
                                            <a class="nav-menu-sub-detail" href="productById_7D10A40B">F7</a>&nbsp;&nbsp;
                                            <a class="nav-menu-sub-detail" href="productById_D7405566">F10</a>&nbsp;&nbsp;
                                        </span>
                                    </li>
                                </ul>
                            </li>
                            <li class="col-sm-home-2 col-md-home-2 col-lg-home-2 background-nav text-center menu-solution">
                                <a class="cursor-pointer" href="/solution"><span class="nav-text">行业方案</span></a>
                            </li>
                            <li class="col-sm-home-2 col-md-home-2 col-lg-home-2 background-nav text-center menu-download">
                                <a class="cursor-pointer" href="/download"><span class="nav-text">资料下载</span></a>
                            </li>
                            <li class="col-sm-home-2 col-md-home-2 col-lg-home-2 background-nav text-center menu-service">
                                <a class="cursor-pointer" href="/service"><span class="nav-text">客户服务</span></a>
                            </li>
                            <li class="col-sm-home-2 col-md-home-2 col-lg-home-2 background-nav text-center menu-about">
                                <a class="cursor-pointer" href="/about"><span class="nav-text">关于步科</span></a>
                            </li>
                            <li class="col-sm-home-2 col-md-home-2 col-lg-home-2 background-nav text-center menu-contact">
                                <a class="cursor-pointer" href="/contact"><span class="nav-text">联系我们</span></a>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>
    </div>
    @RenderSection("navbar", required: false)
    <!--header ned-->
    @RenderBody()

    @RenderSection("foot", required: false)
    
    <!--foot begin-->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                &nbsp;<br />&nbsp;
            </div>
        </div>
    </div>
    <div class="container-fluid" style="background-color:#52514f;">
        <div class="row">
            <div class="col-md-12">&nbsp;</div>
        </div>
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="colorwhite" style="font-size:30px;">Easy Solution</h1>
                            </div>
                            <div class="col-md-12">
                                &nbsp;
                            </div>
                            <div class="col-md-12">
                                <img src="/images/pic_weixin_code.png" alt="微信" />
                                <br /><span class="colorwhite" style="color:#8a8a8a;font-size:12px;">官方微信：andly安德利</span>
                            </div>
                            <div class="col-md-12">
                                &nbsp;<br /><br />
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-2" style="padding-right:0px;padding-left:0px;">
                                    <img src="/images/icon_tel.png" alt="电话" />
                                </div>
                                <div class="col-md-9" style="padding-left:20px;">
                                    <h5 class="colorwhite empty">电话：0755-27610394</h5>
                                    <h5 class="colorwhite empty">电话：0755-27601335</h5>
                                    <div style="height:8px;"></div>
                                    <h5 class="colorwhite empty">传真：0755-27649287</h5>
                                    <h5 class="empty" style="color:#8a8a8a">(周一至周五 8:30~17:30)</h5>
                                </div>
                            </div>
                            <div class="col-md-12">
                                &nbsp;
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-2" style="padding-right:0px;padding-left:0px;padding-top:5px;">
                                    <img src="/images/icon_email.png" alt="email.png" />
                                </div>
                                <div class="col-md-9" style="padding-left:20px;">
                                    <h5 class="empty" style="color:#a1a1a2">&nbsp;</h5>
                                    <a href="mailto:sz@andly.com"><h4 class="empty" style="color:#fefefe">sz@andly.com</h4></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-2 col-xs-6">
                                <dl>
                                    <dt><h3 class="colorwhite">产品中心</h3></dt>
                                    <dd><h5 style="padding:0px;margin-top:0px;margin-bottom:-15px;">&nbsp;</h5></dd>
                                    <dd><h5><a class="colorwhite" href="product/hmi/index.htm">伺服热封口机械</a></h5></dd>
                                    <dd><h5><a class="colorwhite" href="product/plc/index.htm">收缩封切机械</a></h5></dd>
                                    <dd><h5><a class="colorwhite" href="product/servo/index.htm">真空包装设备</a></h5></dd>
                                    <dd><h5><a class="colorwhite" href="product/stepper/index.htm">包装标识设备</a></h5></dd>
                                </dl>
                            </div>
                            <div class="col-md-2 col-xs-6">
                                <dl>
                                    <dt><h3 class="colorwhite">行业方案</h3></dt>
                                </dl>
                            </div>
                            <div class="col-md-2 col-xs-6">
                                <dl>
                                    <dt><h3 class="colorwhite">资料下载</h3></dt>
                                </dl>
                            </div>
                            <div class="col-md-2 col-xs-6">
                                <dl>
                                    <dt><h3 class="colorwhite">客户服务</h3></dt>
                                </dl>
                            </div>
                            <div class="col-md-2 col-xs-6">
                                <dl>
                                    <dt><h3 class="colorwhite">关于步科</h3></dt>
                                    <dd><h5 style="padding:0px;margin-top:0px;margin-bottom:-15px;">&nbsp;</h5></dd>
                                    <dd><h5><a class="colorwhite" href="about/profile/index.htm">公司简介</a></h5></dd>
                                    <dd><h5><a class="colorwhite" href="about/histroy/index.htm">公司历史</a></h5></dd>
                                    <dd><h5><a class="colorwhite" href="about/culture/index.htm">公司文化</a></h5></dd>
                                    <dd><h5><a class="colorwhite" href="about/company-dynamic/index.htm">公司动态</a></h5></dd>
                                    <dd><h5><a class="colorwhite" href="about/product-dynamic/index.htm">产品动态</a></h5></dd>
                                    <dd><h5><a class="colorwhite" href="about/environmental/index.htm">环保预案</a></h5></dd>
                                    <dd><h5><a class="colorwhite" href="about/talents/index.htm">人才招聘</a></h5></dd>
                                </dl>
                            </div>
                            <div class="col-md-2 col-xs-6">
                                <dl>
                                    <dt><h3 class="colorwhite">联系我们</h3></dt>
                                    <dd><h5 style="padding:0px;margin-top:0px;margin-bottom:-15px;">&nbsp;</h5></dd>
                                    <dd><h5><a class="colorwhite" target="_blank" href="../crm2.qq.com/page/portalpage/wpa_BBB2CFEE.php">在线客服</a></h5></dd>
                                    <dd><h5><a class="colorwhite" href="contact/index.htm">办事处联系方式</a></h5></dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        &nbsp;
                    </div>
                    <div class="col-md-12" class="beian001" style="height:50px;">
                        <h5 style="color:#8a8a8a" class="beian001">版权所有© @Html.Raw(DateTime.Now.Year) 安德利 <a href="http://www.miitbeian.gov.cn/index.htm" class="beian001" style="text-decoration:none">粵ICP备05048864号</a></h5>
                    </div>
                </div>
            </div>
            <!-- 代码部分begin -->
            <style type="text/css">
                * {
                    margin: 0;
                    padding: 0;
                    list-style-type: none;
                }

                a, img {
                    border: 0;
                }

                body {
                    font: 12px/180% Arial, Helvetica, sans-serif, "宋体";
                }
                /* suspend */
                .suspend {
                    width: 40px;
                    height: 198px;
                    position: fixed;
                    top: 200px;
                    right: 0;
                    overflow: hidden;
                    z-index: 9999;
                }

                    .suspend dl {
                        width: 120px;
                        height: 198px;
                        border-radius: 25px 0 0 25px;
                        padding-left: 40px;
                        box-shadow: 0 0 5px #e4e8ec;
                    }

                        .suspend dl dt {
                            width: 40px;
                            height: 198px;
                            background: url(http://www.kinco.cn/images/suspend.png);
                            position: absolute;
                            top: 0;
                            left: 0;
                            cursor: pointer;
                        }

                        .suspend dl dd.suspendQQ {
                            width: 120px;
                            height: 85px;
                            background: #ffffff;
                        }

                            .suspend dl dd.suspendQQ a {
                                width: 120px;
                                height: 85px;
                                display: block;
                                background: url(/images/suspend.png) -40px 0;
                                overflow: hidden;
                            }

                        .suspend dl dd.suspendTel {
                            width: 120px;
                            height: 112px;
                            background: #ffffff;
                            border-top: 1px solid #e4e8ec;
                        }

                            .suspend dl dd.suspendTel a {
                                width: 120px;
                                height: 112px;
                                display: block;
                                background: url(/images/suspend.png) -40px -86px;
                                overflow: hidden;
                            }

                * html .suspend {
                    position: absolute;
                    left: expression(eval(document.documentElement.scrollRight));
                    top: expression(eval(document.documentElement.scrollTop+200));
                }

                .beian001 {
                    color: #8a8a8a;
                }

                    .beian001 A:link {
                        COLOR: #8a8a8a;
                        TEXT-DECORATION: none;
                    }

                    .beian001 A:visited {
                        COLOR: #8a8a8a;
                        TEXT-DECORATION: none;
                    }

                    .beian001 A:hover {
                        COLOR: #FFFF00;
                        TEXT-DECORATION: none;
                    }

                    .beian001 A:active {
                        COLOR: #8a8a8a;
                        TEXT-DECORATION: none;
                    }
            </style>


            <div class="suspend">
                @*<script charset="utf-8" src="../wpa.b.qq.com/cgi/wpa.php"></script>
                <script type="text/javascript">
                    BizQQWPA.addCustom({ aty: '0', a: '0', nameAccount: 4007005281, selector: 'BizQQWPA' });
                </script>*@
                <div id="BizQQWPA">
                    <dl>
                        <dt class="IE6PNG"></dt>
                        <dd class="suspendQQ"><a target="_blank" href="javascript:;"></a></dd>
                        <dd class="suspendTel"><a href="javascript:void(0);"></a></dd>
                    </dl>
                </div>
                
                <!-- 代码部分end -->
                <!-- Scripts -->
                <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
                <!--<script src="/js/jquery.min.js"></script> -->
                <!-- Include all compiled plugins (below), or include individual files as needed -->
                @*<script src="js/bootstrap.min.js"></script>*@
                @*<script src="js/jquery.pin.js"></script>*@
                <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
                @*<script src="js/ie10-viewport-bug-workaround.js"></script>*@

                



            </div>
        </div>
    </div>
    <!--foot ned-->
    @Scripts.Render("~/Scripts/jquery.min.js")
    @Scripts.Render("~/Scripts/jquery.livequery.js")
    @Scripts.Render("~/Scripts/knockout-3.2.0.min.js")
    @Scripts.Render("~/Scripts/knockout.multimodels-0.1.min.js")
    @Scripts.Render("~/Scripts/bootstrap.min.js")
    @RenderSection("scripts", required: false)
    
</body>
</html>


<script type="text/javascript">

    function showMenu() {
        if (document.body.scrollTop < 120) {
            $('#navMenu').removeClass('navbar-fixed-top');
            $('#navMenu').addClass('navbar-static-top');
        } else {
            $('#navMenu').removeClass('navbar-static-top');
            $('#navMenu').addClass('navbar-fixed-top');
        }
    }

    function setScroll(num) {
        $(window).scrollTop(num);
    }

    $('#languagelink').popover();

    window.onscroll = showMenu;
</script>



<script>
    function VMMenu(config) {
        var self = this;
        var url = "/api/ProductType/GetMenuProductTypeList";

        self.menuLst = ko.observableArray([]);

        self.loadMenu = function () {
            $.ajax(url, {
                type: "get",
                async: true,
                beforeSend: function () {
                },
                success: function (d) {
                    self.menuLst.removeAll();
                    for (var i = 0; i < d.List.length; i++) {
                        self.menuLst.push(d.List[i]);
                    }
                    $('.dropdown-menu').dropdown()
                }
            });
        }         
        self.loadMenu();
    }
    var vmMenu = new VMMenu();
    ko.attach("vmMenu", vmMenu);


    $(function () {
        var menuLst = $("li.col-sm-home-2");
        var url = '@Request.Url.ToString()';
        $.each(menuLst, function (ind,val) {
            if (url.indexOf($(val).find("a").eq(0).attr("href")) > 0) {
                $(val).removeClass('background-nav').addClass('background-nav-on');
            }
        })
    })
</script>